{% load static %}
<!DOCTYPE html>
<html lang="zxx">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <title>
   Autobuy / Nigeria's Automobile Marketplace
  </title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="true" name="HandheldFriendly"/>
  <link href="{% static 'assets/css/master.css' %}" rel="stylesheet"/>
  <link href="{% static 'assets/media/general/logo-sm.png' %}" rel="icon" type="image/x-icon"/>
  <!--[if lt IE 9 ]>
<script src="/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
<![endif]-->
 </head>
 <body class="page">
  <div class="l-theme animated-css" data-canvas="container" data-header="sticky" data-header-top="150">
   <!-- ==========================-->
   <!-- SEARCH MODAL-->
   <!-- ==========================-->
   <div class="header-search open-search">
    <div class="container">
     <div class="row">
      <div class="col-sm-8 offset-sm-2 col-10 offset-1">
       <div class="navbar-search">
         <form class="search-global">
          <input id="search" autocomplete="off" class="search-global__input" name="s" placeholder="Type to search" type="text" value=""/>
          <button class="search-global__btn" onclick="showOutput1()">
           <i class="icon stroke icon-Search">
           </i>
          </button>
          <div class="search-global__note">
           Begin typing your search above and press return to search.
          </div>
         </form>
       </div>
      </div>
     </div>
    </div>
    <button class="search-close close" type="button">
     <i class="fa fa-times">
     </i>
    </button>
   </div>
   <!-- ==========================-->
   <!-- MOBILE MENU-->
   <!-- ==========================-->
   <div data-off-canvas="mobile-slidebar left overlay">
     <ul class="navbar-nav">
      <li class="nav-item">
       <a class="nav-link" href="{% url 'APP:cars-for-sale' %}">
        Cars For Sale
       </a>
      </li>
      {% if user.is_authenticated %}
      {% if user.profile.user_type == "Dealer" or request.user.is_staff %}
      <li class="nav-item">
       <a class="nav-link" href="{% url 'APP:sell-car' %}">
        Sell
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="{% url 'APP:swap' %}">
        Swap
       </a>
      </li>
      {% endif %}
      {% endif %}
      <li class="nav-item">
       <a class="nav-link">
        Finance
       </a>
       <ul class="mobile-sub-menu">
        <li>
         <a href="{% url 'APP:car-loan' %}">
          Car Loan
         </a>
        </li>
        <li>
         <a href="{% url 'APP:car-insurance' %}">
          Car Insurance
         </a>
        </li>
       </ul>
      </li>
      <li class="nav-item">
       <a class="nav-link">
        Other Services
       </a>
       <ul class="mobile-sub-menu">
        <li>
         <a href="{% url 'APP:clearing' %}">
          Clearing
         </a>
        </li>
        <li>
         <a href="{% url 'APP:car-registration' %}">
          Car Documentation
         </a>
        </li>
        <li>
         <a href="{% url 'APP:car-delivery' %}">
          Car Delivery
         </a>
        </li>
        <li>
         <a href="drivers-license.html">
          Drivers license
         </a>
        </li>
        <li>
         <a href="tint-permit.html">
          Tint Permit
         </a>
        </li>
        <li>
         <a href="car-shipping.html,">
          Car Shipping
         </a>
        </li>
        <li>
         <a href="car-upgrade.html,">
          Car Upgrade
         </a>
        </li>
       </ul>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="{% url 'APP:become-dealer' %}">
        Become A Dealer
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="{% url 'APP:sell-car' %}">
        Sell
       </a>
      </li>
     </ul>
   </div>
   <header class="header">
    <div class="header-main">
     <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
       <div class="col-auto">
        <a class="navbar-brand navbar-brand_light scroll" href="{% url 'APP:index' %}">
         <img alt="logo" class="normal-logo img-fluid" src="{% static 'assets/media/general/logo-light.png' %}"/>
        </a>
        <a class="navbar-brand navbar-brand_dark scroll" href="{% url 'APP:index' %}">
         <img alt="logo" class="normal-logo img-fluid" src="{% static 'assets/media/general/logo-dark.png' %}"/>
        </a>
       </div>
       <div class="col-auto d-xl-none">
        <!-- Mobile Trigger Start-->
        <button class="menu-mobile-button js-toggle-mobile-slidebar toggle-menu-button">
         <i class="toggle-menu-button-icon">
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
         </i>
        </button>
        <!-- Mobile Trigger End-->
       </div>
       <div class="col-xl d-none d-xl-block">
        <nav class="navbar navbar-expand-lg justify-content-end" id="nav">
         <ul class="yamm main-menu navbar-nav">
           <li class="nav-item">
            <a class="nav-link" href="{% url 'APP:cars-for-sale' %}">
             Cars For Sale
            </a>
           </li>
           {% if user.is_authenticated %}
           {% if user.profile.user_type == "Dealer" or request.user.is_staff %}
           <li class="nav-item">
            <a class="nav-link" href="{% url 'APP:sell-car' %}">
             Sell
            </a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'APP:swap' %}">
             Swap
            </a>
           </li>
           {% endif %}
           {% endif %}
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
             Finance
            </a>
            <div class="dropdown-menu">
             <a class="dropdown-item" href="{% url 'APP:car-loan' %}">
              Car Loan
             </a>
             <a class="dropdown-item" href="{% url 'APP:car-insurance' %}">
              Car Insurance
             </a>
            </div>
           </li>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
             Other Services
            </a>
            <div class="dropdown-menu">
             <a class="dropdown-item" href="{% url 'APP:clearing' %}">
              Clearing
             </a>
             <a class="dropdown-item" href="{% url 'APP:car-registration' %}">
              Car Documentation
             </a>
             <a class="dropdown-item" href="{% url 'APP:car-delivery' %}">
              Car Delivery
             </a>
             <a class="dropdown-item" href="drivers-license.html">
              Drivers license
             </a>
             <a class="dropdown-item" href="tint-permit.html">
              Tint Permit
             </a>
             <a class="dropdown-item" href="car-shipping.html,">
              Car Shipping
             </a>
             <a class="dropdown-item" href="car-upgrade.html,">
              Car Upgrade
             </a>
            </div>
            <li class="nav-item">
             <a class="nav-link" href="{% url 'APP:become-dealer' %}">
              Become a dealer
             </a>
            </li>
         </ul>
         {% if user.is_authenticated %}
         <a class="header-main__link" href="{% url 'APP:dashboard' %}">
          <i class="ic icon-user">
          </i>
         </a>
       </ul>
       {% else %}
       <a class="header-main__link" href="{% url 'APP:user' %}">
        <i class="ic icon-user">
        </i>
       </a>
         {% endif %}
         <span class="header-main__link btn_header_search">
          <i class="ic icon-magnifier">
          </i>
         </span>
        </nav>
       </div>
      </div>
     </div>
    </div>
   </header>
   <script>
   function showOutput1 () {
     var value_4=document.getElementById("search").value;
     var queryString = "?second_check="+ "two";
     window.location.href="{% url 'APP:search' %}" + queryString + "&search=" + value_4;
   }
   function showOutput () {
     if (document.getElementById("option1").checked == true){
       var value_4=document.getElementById("option1").value;
     } else if (document.getElementById("option2").checked == true){
       var value_4=document.getElementById("option2").value;
     } else if (document.getElementById("option3").checked == true){
       var value_4=document.getElementById("option3").value;
     }else if (document.getElementById("option4").checked == true){
       var value_4=document.getElementById("option4").value;
     }else if (document.getElementById("option5").checked == true){
       var value_4=document.getElementById("option5").value;
     }else if (document.getElementById("option6").checked == true){
       var value_4=document.getElementById("option6").value;
     }else if (document.getElementById("option7").checked == true){
       var value_4=document.getElementById("option7").value;
     }else if (document.getElementById("option8").checked == true){
       var value_4=document.getElementById("option8").value;
     }
     else {
       var value_4="";
     }
     if (document.getElementById("use1").checked == true){
       var value_5=document.getElementById("use1").value;
     } else if (document.getElementById("use2").checked == true){
       var value_5=document.getElementById("use2").value;
     } else if (document.getElementById("use3").checked == true){
       var value_5=document.getElementById("use3").value;
     }else if (document.getElementById("use4").checked == true){
       var value_5=document.getElementById("use4").value;
     }else {
       var value_5="";
     }
     var value_3=document.getElementById("make").value;
     var value_2=document.getElementById("model").value;
     var value_1=document.getElementById("min_price").value;
     var value=document.getElementById("max_price").value;


     var paid="two";
     var queryString = "?second_check=" +paid + "&category=" + value_4 + "&use_state=" + value_5 + "&make=" + value_3 + "&model=" + value_2 + "&price_min=" + value_1 + "&price_max=" + value;
     window.location.href="search" + queryString;
   }
   function showOutput1 () {
     var value_4=document.getElementById("search").value;
     var queryString = "?second_check="+ "two";
     window.location.href="{% url 'APP:search' %}" + queryString + "&search=" + value_4;
   }
   </script>
   <!-- end .header-->
   <div class="section-title-page area-bg area-bg_dark area-bg_op_60 section-title-page_mod-b">
    <div class="area-bg__inner">
     <div class="container text-center">
      <h1 class="b-title-page">
       Booking system
      </h1>
      <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
        <li class="breadcrumb-item">
         <a href="home.html">
          Home
         </a>
        </li>
        <li aria-current="page" class="breadcrumb-item active">
         Car Styling Booking System
        </li>
       </ol>
      </nav>
      <!-- end .breadcrumb-->
     </div>
    </div>
   </div>
   <!-- end .b-title-page-->
   <div class="l-main-content">
    <div class="ui-decor ui-decor_mirror bg-primary">
    </div>
    <div class="container">
     <main>
      <div class="b-booking-group">
       <div class="container">
        <div class="row">
         <div class="col-lg-4">
          <div class="b-booking-nav">
           <a class="b-booking-nav__item" href="#">
            <div class="b-booking-nav__header">
             Step 1
            </div>
            <div class="b-booking-nav__main">
             <i class="ic fas fa-car-side">
             </i>
             <span class="b-booking-nav__title">
              Select Car Type
             </span>
             <span class="b-booking-nav__info">
              Select your vehicle type
             </span>
            </div>
           </a>
           <a class="b-booking-nav__item active" href="#">
            <div class="b-booking-nav__header">
             Step 2
            </div>
            <div class="b-booking-nav__main">
             <i class="ic fas fa-cubes">
             </i>
             <span class="b-booking-nav__title">
              Styling Packages
             </span>
             <span class="b-booking-nav__info">
              Choose a styling package
             </span>
            </div>
           </a>
           <a class="b-booking-nav__item" href="#">
            <div class="b-booking-nav__header">
             Step 3
            </div>
            <div class="b-booking-nav__main">
             <i class="ic fas fa-cog">
             </i>
             <span class="b-booking-nav__title">
              Services Menu
             </span>
             <span class="b-booking-nav__info">
              A la carte Services for you
             </span>
            </div>
           </a>
           <a class="b-booking-nav__item" href="#">
            <div class="b-booking-nav__header">
             Step 4
            </div>
            <div class="b-booking-nav__main">
             <i class="ic far fa-calendar">
             </i>
             <span class="b-booking-nav__title">
              Date And Time
             </span>
             <span class="b-booking-nav__info">
              Click on time for booking
             </span>
            </div>
           </a>
           <a class="b-booking-nav__item" href="#">
            <div class="b-booking-nav__header">
             Step 5
            </div>
            <div class="b-booking-nav__main">
             <i class="ic fas fa-edit">
             </i>
             <span class="b-booking-nav__title">
              Booking Summary
             </span>
             <span class="b-booking-nav__info">
              Provide your contact infos
             </span>
            </div>
           </a>
          </div>
         </div>
         <div class="col-lg-8">
          <form id="myForm" class="b-booking-main" method="POST">
            {% csrf_token %}
           <div class="b-booking-main__section">
            <h2 class="b-booking-main__title">
             Select Car Type
            </h2>
            <div class="b-booking-main__cat btn-group-toggle row flex-wrap justify-content-between" data-toggle="buttons">
             <div class="col-sm-4">
              <label class="btn b-booking-main__cat-item">
               <input checked="checked" name="category" id="option4" value="convertible" type="radio"/>
               <span class="ic flaticon-cabrio-car">
               </span>
               CONVERTIBLE
               <i class="ic-check fas fa-check">
               </i>
              </label>
             </div>
             <div class="col-sm-4">
              <label class="btn b-booking-main__cat-item active">
               <input name="category" id="option2" value="suv" type="radio"/>
               <span class="ic flaticon-car-suv">
               </span>
               SUV
               <i class="ic-check fas fa-check">
               </i>
              </label>
             </div>
             <div class="col-sm-4">
              <label class="btn b-booking-main__cat-item">
               <input name="category" id="option3" value="coupe"  type="radio"/>
               <span class="ic flaticon-coupe-car">
               </span>
               COUPE
               <i class="ic-check fas fa-check">
               </i>
              </label>
             </div>
             <div class="col-sm-4">
              <label class="btn b-booking-main__cat-item">
               <input name="category" id="option5" value="sedan" type="radio"/>
               <span class="ic flaticon-sedan-car-model">
               </span>
               SEDAN
               <i class="ic-check fas fa-check">
               </i>
              </label>
             </div>
             <div class="col-sm-4">
              <label class="btn b-booking-main__cat-item">
               <input  name="category" id="option6" value="super" type="radio"/>
               <span class="ic flaticon-car-black-side-view-pointing-left">
               </span>
               SUPER CAR
               <i class="ic-check fas fa-check">
               </i>
              </label>
             </div>
             <div class="col-sm-4">
              <label class="btn b-booking-main__cat-item">
               <input name="category" id="option7" value="mini" type="radio"/>
               <span class="ic flaticon-car">
               </span>
               MINICAR
               <i class="ic-check fas fa-check">
               </i>
              </label>
             </div>
            </div>
           </div>
           <div class="b-booking-main__section pb-1">
            <h2 class="b-booking-main__title">
             Choose Your Package
            </h2>
            <div class="b-booking-price">
             <div class="custom-control custom-checkbox">
              <input name="package" checked="checked"  id="customCheck1" value="basic" type="radio"/>
              <label for="customCheck1">
               <span class="b-booking-price__inner col-sm">
                <span class="b-booking-price__title">
                 Basic Styling Pack
                 <span class="b-booking-price__day">
                  (1 Day)
                 </span>
                </span>
                <span class="b-booking-price__info">
                 Minor Dent Removing, Window Tinting, Full Color Change
                </span>
               </span>
               <span class="col-sm-auto">
                <span class="b-booking-price__price text-primary">
                 <span class="b-booking-price__price-up">
                  $
                 </span>
                 35
                 <span class="b-booking-price__price-up">
                  95
                 </span>
                </span>
               </span>
              </label>
             </div>
            </div>
            <div class="b-booking-price">
             <div class="custom-control custom-checkbox">
              <input name="package" id="customCheck2" value="gold" type="radio"/>
              <label for="customCheck2">
               <span class="b-booking-price__inner col-sm">
                <span class="b-booking-price__title">
                 Gold Styling Pack
                 <span class="b-booking-price__day">
                  (2 Day)
                 </span>
                </span>
                <span class="b-booking-price__info">
                 Minor Dent Removing, Window Tinting, Full Color Change Car Polishing, New Wheels
                </span>
               </span>
               <span class="col-sm-auto">
                <span class="b-booking-price__price text-primary">
                 <span class="b-booking-price__price-up">
                  $
                 </span>
                 45
                 <span class="b-booking-price__price-up">
                  95
                 </span>
                </span>
               </span>
              </label>
             </div>
            </div>
            <div class="b-booking-price">
             <div class="custom-control custom-checkbox">
              <input name="package"  id="customCheck3" value="deluxe" type="radio"/>
              <label  for="customCheck3">
               <span class="b-booking-price__inner col-sm">
                <span class="b-booking-price__title">
                 Deluxe Styling Pack
                 <span class="b-booking-price__day">
                  (3 Day)
                 </span>
                </span>
                <span class="b-booking-price__info">
                 Minor Dent Removing, Window Tinting, Full Color Change Car Polishing, New Wheels
                </span>
               </span>
               <span class="col-sm-auto">
                <span class="b-booking-price__price text-primary">
                 <span class="b-booking-price__price-up">
                  $
                 </span>
                 55
                 <span class="b-booking-price__price-up">
                  95
                 </span>
                </span>
               </span>
              </label>
             </div>
            </div>
           </div>
           <div class="b-booking-main__section pb-1">
            <h2 class="b-booking-main__title">
             Services Menu
            </h2>
            <div class="b-booking-price b-booking-price_sm">
             <div class="custom-control custom-checkbox">
              <input name="service1" checked="checked" class="custom-control-input" id="customCheck4" type="checkbox"/>
              <label class="custom-control-label row" for="customCheck4">
               <span class="col">
                <span class="b-booking-price__title">
                 Full Body Wash
                </span>
                <span class="b-booking-price__info">
                 Magna aliqua enim aduas dui veniam nostrud
                </span>
               </span>
               <span class="col-auto">
                <span class="b-booking-price__label">
                 <i class="ic far fa-clock">
                 </i>
                 2 Hours
                </span>
                <span class="b-booking-price__label">
                 <i class="ic far fa-money-bill-alt">
                 </i>
                 $12.90
                </span>
               </span>
              </label>
             </div>
            </div>
            <div class="b-booking-price b-booking-price_sm">
             <div class="custom-control custom-checkbox">
              <input name="service2" class="custom-control-input" id="customCheck5" type="checkbox"/>
              <label class="custom-control-label row" for="customCheck5">
               <span class="col">
                <span class="b-booking-price__title">
                 Custom Wrap Styles
                </span>
                <span class="b-booking-price__info">
                 Magna aliqua enim aduas dui veniam nostrud
                </span>
               </span>
               <span class="col-auto">
                <span class="b-booking-price__label">
                 <i class="ic far fa-clock">
                 </i>
                 2 Hours
                </span>
                <span class="b-booking-price__label">
                 <i class="ic far fa-money-bill-alt">
                 </i>
                 $12.90
                </span>
               </span>
              </label>
             </div>
            </div>
            <div class="b-booking-price b-booking-price_sm">
             <div class="custom-control custom-checkbox">
              <input name="service3" class="custom-control-input" id="customCheck6" type="checkbox"/>
              <label class="custom-control-label row" for="customCheck6">
               <span class="col">
                <span class="b-booking-price__title">
                 Gold Color Wheels
                </span>
                <span class="b-booking-price__info">
                 Magna aliqua enim aduas dui veniam nostrud
                </span>
               </span>
               <span class="col-auto">
                <span class="b-booking-price__label">
                 <i class="ic far fa-clock">
                 </i>
                 2 Hours
                </span>
                <span class="b-booking-price__label">
                 <i class="ic far fa-money-bill-alt">
                 </i>
                 $12.90
                </span>
               </span>
              </label>
             </div>
            </div>
            <div class="b-booking-price b-booking-price_sm">
             <div class="custom-control custom-checkbox">
              <input name="service4" class="custom-control-input" id="customCheck7" type="checkbox"/>
              <label class="custom-control-label row" for="customCheck7">
               <span class="col">
                <span class="b-booking-price__title">
                 Minor Dents Remove
                </span>
                <span class="b-booking-price__info">
                 Magna aliqua enim aduas dui veniam nostrud
                </span>
               </span>
               <span class="col-auto">
                <span class="b-booking-price__label">
                 <i class="ic far fa-clock">
                 </i>
                 2 Hours
                </span>
                <span class="b-booking-price__label">
                 <i class="ic far fa-money-bill-alt">
                 </i>
                 $12.90
                </span>
               </span>
              </label>
             </div>
            </div>
           </div>
          <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
           <script type="text/javascript">
           function total_package(){
             var i=j=k=0;
             if (document.getElementById("customCheck1").checked== true){
               i=35;
             }else if (document.getElementById("customCheck2").checked== true) {
               j=45;
             }else if (document.getElementById("customCheck3").checked== true) {
               k=55;
             }
             var total_package_pay=i+j+k;
           }
           function total_price(){
             var a=b=c=d=0;
             var e=f=g=h=0;
             if (document.getElementById("customCheck4").checked== true){
               a=12.90;
               e=2;
             }else if (document.getElementById("customCheck5").checked== true) {
               b=12.90;
               f=2;
             }else if (document.getElementById("customCheck6").checked== true) {
               c=12.90;
               g=2;
             }else if (document.getElementById("customCheck7").checked== true) {
               d=12.90;
               h=2;
             }
             var total_package_pay=0;
             total_package();
             var total_pay=a+b+c+d+total_package_pay;
             var total_time=e+f+g+h;
             var total_pay_string=String(total_pay);
             var total_time_string=String(total_time);
             document.getElementById("money").innerHTML = total_pay_string;
             document.getElementById("time").innerHTML = total_time_string;
           }

           $(document).ready(function() {
    $('#replace').on("change paste keyup",function() {
       $('#example').html($(this).val());
       total_price();
    });
});
$(document).ready(function() {
$('#replace2').on("change paste keyup",function() {
$('#example2').html($(this).val());
});
});

function payWithPaystack(){
var total_pay=2;
total_price();
var handler = PaystackPop.setup({
key: 'pk_test_2e6c36e35df589cd45c15eca59189df5e3fcc1af',
email: "chukslord1@gmail.com",
amount: total_pay,
ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
metadata: {
custom_fields: [
{
    display_name: "chukslord1",
    variable_name: "Afriproperty Basic Subscription Package",
    value: "+2348012345678"
}
]
},
callback: function(response){
alert('success. transaction ref is ' + response.reference);
document.getElementById("myForm").submit();
},
onClose: function(){
alert('window closed');
}
});
handler.openIframe();
}
           </script>
           <div class="b-booking-main__section">
            <h2 class="b-booking-main__title">
             Select Date &amp; Time
            </h2>
            <input id="replace" name"date" type="date" />
            <input id="replace2" name"time" type="time" />
           </div>
           <div class="b-booking-main__section">
            <h2 class="b-booking-main__title">
             Booking Summary
            </h2>
            <div class="row mb-4">
             <div class="col-md-6">
              <div class="b-booking-total">
               <div class="b-booking-total__main">
                <div class="b-booking-total__title">
                  <a id="example">20/10/20</a>
                </div>
                <div class="b-booking-total__info">
                 Appointment Date
                </div>
               </div>
               <div class="ic pe-7s-date">
               </div>
              </div>
             </div>
             <div class="col-md-6">
              <div class="b-booking-total">
               <div class="b-booking-total__main">
                <div class="b-booking-total__title">
                 <a id="example2">16:43</a>
                </div>
                <div class="b-booking-total__info">
                 Appointment Time
                </div>
               </div>
               <div class="ic pe-7s-clock">
               </div>
              </div>
             </div>
             <div class="col-md-6">
              <div class="b-booking-total">
               <div class="b-booking-total__main">
                <div class="b-booking-total__title">
                <a id="time">3</a>hrs
                </div>
                <div class="b-booking-total__info">
                 Duration
                </div>
               </div>
               <div class="ic pe-7s-wristwatch">
               </div>
              </div>
             </div>
             <div class="col-md-6">
              <div class="b-booking-total">
               <div class="b-booking-total__main">
                <div class="b-booking-total__title">
                 <a id="money">$ 145.00</a>
                </div>
                <div class="b-booking-total__info">
                 Total Price
                </div>
               </div>
               <div class="ic pe-7s-cart">
               </div>
              </div>
             </div>
            </div>
            <div class="row">

             <div class="col-md-6">
              <div class="form-group">
               <label class="form-label">
                First Name *
               </label>
               <input name="first_name" class="form-control" type="text"/>
              </div>
             </div>
             <div class="col-md-6">
              <div class="form-group">
               <label class="form-label">
                Last Name *
               </label>
               <input name="last_name" class="form-control" type="text"/>
              </div>
             </div>
             <div class="col-md-6">
              <div class="form-group">
               <label class="form-label">
                Email Address*
               </label>
               <input name="email" class="form-control" type="email"/>
              </div>
             </div>
             <div class="col-md-6">
              <div class="form-group">
               <label class="form-label">
                Phone *
               </label>
               <input name="phone" class="form-control" type="text"/>
              </div>
             </div>
            </div>
            <div class="form-group">
             <label class="form-label">
              Car make / Model *
             </label>
             <input name="car_model" class="form-control" type="text"/>
            </div>
            <div class="form-group">
             <label class="form-label">
              Message
             </label>
             <textarea class="form-control" rows="5"></textarea>
            </div>
            <div class="text-center">
             Within 24 hours, Our representative we will confirm your appointment by call / email
             <script src="https://js.paystack.co/v1/inline.js"></script>
             <button class="btn btn-secondary mt-5" onclick="payWithPaystack()">
              Confirm Booking
             </button>
             {{message}}
            </div>
           </div>
          </form>
         </div>
        </div>
       </div>
      </div>
      <!-- end .b-booking-->
     </main>
    </div>
   </div>
   {% include "base.html" %}
   {% block content %}

    {% endblock %}
   <!-- .footer-->
   </div>
   <!-- end layout-theme-->
   <!-- ++++++++++++-->
   <!-- MAIN SCRIPTS-->
   <!-- ++++++++++++-->
   <script src="{% static 'assets/libs/jquery-3.3.1.min.js' %}">
   </script>
   <script src="{% static 'assets/libs/jquery-migrate-1.4.1.min.js' %}">
   </script>
   <!-- Bootstrap-->
   <script src="{% static 'assets/plugins/popever/popper.min.js' %}">
   </script>
   <script src="{% static 'assets/libs/bootstrap-4.1.3/js/bootstrap.min.js' %}">
   </script>
   <!-- -->
   <!-- Color scheme-->
   <script src="{% static 'assets/plugins/switcher/js/dmss.js' %}">
   </script>
   <!-- Select customization & Color scheme-->
   <script src="{% static 'assets/libs/bootstrap-select.min.js' %}">
   </script>
   <!-- Pop-up window-->
   <script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}">
   </script>
   <!-- Headers scripts-->
   <script src="{% static 'assets/plugins/headers/slidebar.js' %}">
   </script>
   <script src="{% static 'assets/plugins/headers/header.js' %}">
   </script>
   <!-- Mail scripts-->
   <script src="{% static 'assets/plugins/jqBootstrapValidation.js' %}">
   </script>
   <script src="{% static 'assets/plugins/contact_me.js' %}">
   </script>
   <!-- Progress numbers-->
   <script src="{% static 'assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}">
   </script>
   <script src="{% static 'assets/plugins/rendro-easy-pie-chart/jquery.waypoints.min.js' %}">
   </script>
   <!-- Animations-->
   <script src="{% static 'assets/plugins/scrollreveal/scrollreveal.min.js' %}">
   </script>
   <!-- Scale images-->
   <script src="{% static 'assets/plugins/ofi.min.js' %}">
   </script>
   <!-- Main slider-->
   <script src="{% static 'assets/plugins/slider-pro/jquery.sliderPro.min.js' %}">
   </script>
   <!-- Sliders-->
   <script src="{% static 'assets/plugins/slick/slick.js' %}">
   </script>
   <!-- Slider number-->
   <script src="{% static 'assets/plugins/noUiSlider/wNumb.js' %}">
   </script>
   <script src="{% static 'assets/plugins/noUiSlider/nouislider.min.js' %}">
   </script>
   <!-- User customization-->
   <script src="{% static 'assets/js/custom.js' %}">
   </script>
   </body>
   </html>
