{% load static %}

<!DOCTYPE html>
<html lang="zxx">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <title>
   Autobuy / Nigeria's Automobile Marketplace
  </title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="telephone=no" name="format-detection"/>
  <meta content="true" name="HandheldFriendly"/>
  <link href="{% static 'assets/css/master.css' %}" rel="stylesheet"/>
  <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet"/>
  <link href="{% static 'assets/media/general/logo-sm.png' %}" rel="icon" type="image/x-icon"/>
  <!--[if lt IE 9 ]>
<script src="/assets/js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">
<![endif]-->
 </head>
 <body class="page">
  <div class="l-theme animated-css" data-canvas="container" data-header="sticky" data-header-top="150">
   <!-- ==========================-->
   <!-- SEARCH MODAL-->
   <!-- ==========================-->
   <div class="header-search open-search">
    <div class="container">
     <div class="row">
      <div class="col-sm-8 offset-sm-2 col-10 offset-1">
       <div class="navbar-search">
        <form class="search-global">
         <input autocomplete="off" class="search-global__input" name="s" placeholder="Search" type="text" value=""/>
         <button class="search-global__btn">
          <i class="icon stroke icon-Search">
          </i>
         </button>
         <div class="search-global__note">
          Begin typing your search above and press return to search.
         </div>
        </form>
       </div>
      </div>
     </div>
    </div>
    <button class="search-close close" type="button">
     <i class="fa fa-times">
     </i>
    </button>
   </div>
   <!-- ==========================-->
   <!-- MOBILE MENU-->
   <!-- ==========================-->
   <div data-off-canvas="mobile-slidebar left overlay">
    <ul class="navbar-nav">
     <li class="nav-item">
      <a class="nav-link" href="cars-for-sale.html">
       Cars For Sale
      </a>
     </li>
     {% if user.is_authenticated %}
     {% if user.profile.user_type == "Dealer" or request.user.is_staff %}
     <li class="nav-item">
      <a class="nav-link" href="sell-car.html">
       Sell
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="swap.html">
       Swap
      </a>
     </li>
     {% endif %}
     {% endif %}
     <li class="nav-item">
      <a class="nav-link">
       Finance
      </a>
      <ul class="mobile-sub-menu">
       <li>
        <a href="car-loan.html">
         Car Loan
        </a>
       </li>
       <li>
        <a href="car-insurance.html">
         Car Insurance
        </a>
       </li>
      </ul>
     </li>
     <li class="nav-item">
      <a class="nav-link">
       Other Services
      </a>
      <ul class="mobile-sub-menu">
       <li>
        <a href="clearing.html">
         Clearing
        </a>
       </li>
       <li>
        <a href="car-registration.html">
         Car Registration
        </a>
       </li>
       <li>
        <a href="car-delivery.html">
         Car Delivery
        </a>
       </li>
      </ul>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="become-dealer.html">
       Become A Dealer
      </a>
     </li>
     <li class="nav-item">
      <a class="nav-link" href="sell-car.html">
       Sell
      </a>
     </li>
    </ul>
   </div>
   <header class="header">
    <div class="header-main">
     <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
       <div class="col-auto">
        <a class="navbar-brand navbar-brand_light scroll" href="index.html">
         <img alt="logo" class="normal-logo img-fluid" src="{% static 'assets/media/general/logo-light.png' %}"/>
        </a>
        <a class="navbar-brand navbar-brand_dark scroll" href="index.html">
         <img alt="logo" class="normal-logo img-fluid" src="{% static 'assets/media/general/logo-dark.png' %}"/>
        </a>
       </div>
       <div class="col-auto d-xl-none">
        <!-- Mobile Trigger Start-->
        <button class="menu-mobile-button js-toggle-mobile-slidebar toggle-menu-button">
         <i class="toggle-menu-button-icon">
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
         </i>
        </button>
        <!-- Mobile Trigger End-->
       </div>
       <div class="col-xl d-none d-xl-block">
        <nav class="navbar navbar-expand-lg justify-content-end" id="nav">
         <ul class="yamm main-menu navbar-nav">
          <li class="nav-item">
           <a class="nav-link" href="cars-for-sale.html">
            Cars For Sale
           </a>
          </li>
          {% if user.is_authenticated %}
          {% if user.profile.user_type == "Dealer" or request.user.is_staff %}
          <li class="nav-item">
           <a class="nav-link" href="sell-car.html">
            Sell
           </a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="swap.html">
            Swap
           </a>
          </li>
          {% endif %}
          {% endif %}
          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#">
            Finance
           </a>
           <div class="dropdown-menu">
            <a class="dropdown-item" href="car-loan.html">
             Car Loan
            </a>
            <a class="dropdown-item" href="car-insurance.html">
             Car Insurance
            </a>
           </div>
          </li>
          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#">
            Other Services
           </a>
           <div class="dropdown-menu">
            <a class="dropdown-item" href="clearing.html">
             Clearing
            </a>
            <a class="dropdown-item" href="car-registration.html">
             Car Registration
            </a>
            <a class="dropdown-item" href="car-delivery.html">
             Car Delivery
            </a>
           </div>
           <li class="nav-item">
            <a class="nav-link" href="become-dealer.html">
             Become a dealer
            </a>
           </li>
          </li>
         </ul>
         <a class="header-main__link" href="user.html">
          <i class="ic icon-user">
          </i>
         </a>
         <span class="header-main__link btn_header_search">
          <i class="ic icon-magnifier">
          </i>
         </span>
         <button class="header-main__btn btn btn-secondary" onclick="onclick="window.location.href='admin'"">
          <a href="admin">
           Admin Portal
          </a>
         </button>
        </nav>
       </div>
      </div>
     </div>
    </div>
   </header>
   <!-- end .header-->
   <header class="header">
    <div class="header-main">
     <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
       <div class="col-auto">
        <a class="navbar-brand navbar-brand_light scroll" href="index.html">
         <img alt="logo" class="normal-logo img-fluid" src="{% static 'assets/media/general/logo-light.png' %}"/>
        </a>
        <a class="navbar-brand navbar-brand_dark scroll" href="index.html">
         <img alt="logo" class="normal-logo img-fluid" src="{% static 'assets/media/general/logo-dark.png' %}"/>
        </a>
       </div>
       <div class="col-auto d-xl-none">
        <!-- Mobile Trigger Start-->
        <button class="menu-mobile-button js-toggle-mobile-slidebar toggle-menu-button">
         <i class="toggle-menu-button-icon">
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
          <span>
          </span>
         </i>
        </button>
        <!-- Mobile Trigger End-->
       </div>
       <div class="col-xl d-none d-xl-block">
        <nav class="navbar navbar-expand-lg justify-content-end" id="nav">
         <ul class="yamm main-menu navbar-nav">
          <li class="nav-item">
           <a class="nav-link" href="cars-for-sale.html">
            Cars For Sale
           </a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="sell-car.html">
            Sell
           </a>
          </li>
          <li class="nav-item">
           <a class="nav-link" href="swap.html">
            Swap
           </a>
          </li>
          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#">
            Finance
           </a>
           <div class="dropdown-menu">
            <a class="dropdown-item" href="car-loan.html">
             Car Loan
            </a>
            <a class="dropdown-item" href="car-insurance.html">
             Car Insurance
            </a>
           </div>
          </li>
          <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#">
            Other Services
           </a>
           <div class="dropdown-menu">
            <a class="dropdown-item" href="clearing.html">
             Clearing
            </a>
            <a class="dropdown-item" href="car-registration.html">
             Car Registration
            </a>
            <a class="dropdown-item" href="car-delivery.html">
             Car Delivery
            </a>
           </div>
           <li class="nav-item">
            <a class="nav-link" href="become-dealer.html">
             Become a dealer
            </a>
           </li>
          </li>
         </ul>
         <a class="header-main__link" href="user.html">
          <i class="ic icon-user">
          </i>
         </a>
         <span class="header-main__link btn_header_search">
          <i class="ic icon-magnifier">
          </i>
         </span>
         <button class="header-main__btn btn btn-secondary" onclick="onclick="window.location.href='admin'"">
          <a href="admin">
           Admin Portal
          </a>
         </button>
        </nav>
       </div>
      </div>
     </div>
    </div>
   </header>
   <!-- end .header-->
   <main class="main">
    <div class="main-header">
     <div class="main-header__intro-wrapper">
      <div class="main-header__welcome">
       <div class="main-header__welcome-title text-light">
        Good Morning,
        <strong>
         {{user}}
        </strong>
       </div>
       <div class="main-header__welcome-subtitle text-light">
        How are you today?
       </div>
      </div>
      <div class="quickview">
       <div class="quickview__item">
        <div class="quickview__item-total">
         {{no_of_car}}
        </div>
        <div class="quickview__item-description">
         <i class="far fa-calendar-alt">
         </i>
         <span class="text-light">
          Vehicles
         </span>
        </div>
       </div>
       <div class="quickview__item">
        <div class="quickview__item-total">
         {{message_count}}
        </div>
        <div class="quickview__item-description">
         <i class="far fa-comment">
         </i>
         <span class="text-light">
          Messages
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="main-overview">
     <div class="overviewCard">
      <div class="overviewCard-icon overviewCard-icon--document">
       <i class="far fa-file-alt">
       </i>
      </div>
      <div class="overviewCard-description">
       <h3 class="overviewCard-title text-light">
        Account
        <strong>
         Type
        </strong>
       </h3>
       <p class="overviewCard-subtitle">
         {% if user.profile.user_type %}
        {{user.profile.user_type}}
         {% else %}
         Admin
        {% endif %}
       </p>
      </div>
     </div>
     <div class="overviewCard">
      <div class="overviewCard-icon overviewCard-icon--calendar">
       <i class="far fa-calendar-check">
       </i>
      </div>
      <a href="sell-car.html">
       <div class="overviewCard-description">
        <h3 class="overviewCard-title text-light">
         Post
         <strong>
          Ad
         </strong>
        </h3>
        <p class="overviewCard-subtitle">
         Sell Your Vehicle
        </p>
       </div>
      </a>
     </div>
     <div class="overviewCard">
      <div class="overviewCard-icon overviewCard-icon--mail">
       <i class="far fa-envelope">
       </i>
      </div>
      <div class="overviewCard-description">
       <h3 class="overviewCard-title text-light">
        Recent
        <strong>
         Messages
        </strong>
       </h3>
       <p class="overviewCard-subtitle">
        +10
       </p>
      </div>
     </div>
     {% if dealer %}
     <div class="overviewCard">
      <div class="overviewCard-icon overviewCard-icon--photo">
       <i class="far fa-file-image">
       </i>
      </div>
      <div class="overviewCard-description">
       <h3 class="overviewCard-title text-light">
        Access
        <strong>
         Auction
        </strong>
       </h3>
       <p class="overviewCard-subtitle">
        Dealer Only
       </p>
      </div>
     </div>
    {% endif %}
    </div>
    <!-- /.main__overview -->
    <div class="main__cards">
     <div class="card">
      <div class="card__header">
       <div class="card__header-title text-light">
        <strong>
         ACTIVITIES
        </strong>
       </div>
      </div>
      <div class="card__main">
        {% for item in analytics %}
       <div class="card__row">
        <div class="card__icon">
         <i class="fas fa-id-card">
         </i>
        </div>
        <div class="card__time">
         <div>
          {{item.date}}
         </div>
        </div>
        <div class="card__detail">
         <div class="card__description">
          {{item.type}}
         </div>
         <div class="card__source text-bold">
          {{item.title}}
         </div>
         <div class="card__note">
          on Autobuy.ng
         </div>
        </div>
       </div>
       {% endfor %}
      </div>
     </div>
     <div class="card">
      <div class="card__header">
       <div class="card__header-title text-light">
        <strong>
         My Vehicles
        </strong>
       </div>
      </div>
      <div class="card">
        <div class="documents">
        {% for item in cars %}
        <div class="document">
         <div class="document__img">
           {% for i in item.image.all %}
          {% if forloop.first %}
          <a  href="{{item.get_absolute_url}}">
           <img alt="photo" class="img-scale" src="{% get_media_prefix %}{{i.image}}"/>
          </a>
          {% endif %}
          {% endfor %}
         </div>
         <div class="document__title">
          <a href="">
           {{item.title}}..
          </a>
         </div>
         <div class="document__date">
          {{item.price}}
         </div>
         <script>
         function submit{{item.slug}} () {
           var value=document.getElementById("myForm{{item.slug}}").submit();
         }
         </script>
         <form id="myForm{{item.slug}}" method="GET">
          <input  type="hidden" name="delete" value="true"/>
         <input id="title" type="hidden" name="title" value="{{item.title}}"/>
         <button class="btn-primary" onclick="submit{{item.slug}}()">
          Remove
         </button>
       </form>
        </div>
       {% endfor %}
       </div>
      </div>
     </div>
     <div class="card">
      <div class="card__header">
       <div class="card__header-title text-light">
        <strong>
         My Favorites
        </strong>
       </div>
      </div>
      <div class="card">
        <div class="documents">
        {% for item in favorites %}
        <script>
        function submit2{{item.slug}} () {
          var value=document.getElementById("theForm{{item.slug}}").submit();
        }
        </script>
        <div class="document">
         <div class="document__img">
          <a href="#">
           <img alt="photo" class="img-scale" src="{{item.image.url}}"/>
          </a>
         </div>
         <div class="document__title">
          <a href="">
           {{item.title}}
          </a>
         </div>
         <div class="document__date">
          {{item.price}}
         </div>
         <form id="theForm{{item.slug}}" method="GET">
          <input  type="hidden" name="remove" value="true"/>
         <input id="title" type="hidden" name="title" value="{{item.title}}"/>
         <button class="btn-primary" onclick="submit2{{item.slug}}()">
          Remove
         </button>
       </form>
        </div>
       {% endfor %}
       </div>
      </div>
     </div>
    </div>
   </main>
  </div>
 </body>
</html>
<!-- /.main-cards -->
<!-- end .b-title-page-->
</div>
{% include "base.html" %}
{% block content %}

 {% endblock %}
<!-- .footer-->
<!-- end layout-theme-->
<!-- ++++++++++++-->
<!-- MAIN SCRIPTS-->
<!-- ++++++++++++-->
<script src="{% static 'assets/libs/jquery-3.3.1.min.js' %}">
</script>
<script src="{% static 'assets/libs/jquery-migrate-1.4.1.min.js' %}">
</script>
<!-- Bootstrap-->
<script src="{% static 'assets/plugins/popever/popper.min.js' %}">
</script>
<script src="{% static 'assets/libs/bootstrap-4.1.3/js/bootstrap.min.js' %}">
</script>
<!-- -->
<!-- Color scheme-->
<script src="{% static 'assets/plugins/switcher/js/dmss.js' %}">
</script>
<!-- Select customization & Color scheme-->
<script src="{% static 'assets/libs/bootstrap-select.min.js' %}">
</script>
<!-- Pop-up window-->
<script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}">
</script>
<!-- Headers scripts-->
<script src="{% static 'assets/plugins/headers/slidebar.js' %}">
</script>
<script src="{% static 'assets/plugins/headers/header.js' %}">
</script>
<!-- Mail scripts-->
<script src="{% static 'assets/plugins/jqBootstrapValidation.js' %}">
</script>
<script src="{% static 'assets/plugins/contact_me.js' %}">
</script>
<!-- Progress numbers-->
<script src="{% static 'assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}">
</script>
<script src="{% static 'assets/plugins/rendro-easy-pie-chart/jquery.waypoints.min.js' %}">
</script>
<!-- Animations-->
<script src="{% static 'assets/plugins/scrollreveal/scrollreveal.min.js' %}">
</script>
<!-- Scale images-->
<script src="{% static 'assets/plugins/ofi.min.js' %}">
</script>
<!-- Main slider-->
<script src="{% static 'assets/plugins/slider-pro/jquery.sliderPro.min.js' %}">
</script>
<!-- Sliders-->
<script src="{% static 'assets/plugins/slick/slick.js' %}">
</script>
<!-- Slider number-->
<script src="{% static 'assets/plugins/noUiSlider/wNumb.js' %}">
</script>
<script src="{% static 'assets/plugins/noUiSlider/nouislider.min.js' %}">
</script>
<!-- User customization-->
<script src="{% static 'assets/js/custom.js' %}">
</script>
